includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false
    level: 5
    paths:
        - src
        - tests
    ignoreErrors:
        - identifier: function.alreadyNarrowedType
        - identifier: method.alreadyNarrowedType
        - identifier: instanceof.alwaysTrue