<html>
<body>
<table>
    <tr>
        <table>
            <tr><td>Please update the quota of the bucket in the config or delete files!<br></td></tr>

            <th>Notify Quota from Bucket "{{ internalBucketId }}"</th>
            <tr><td>Bucket Id: </td><td>{{ internalBucketId }}</td></tr>
            <tr><td>Bucket Name: </td><td>{{ bucketId }}</td></tr>
            <tr><td>Bucket Quota: </td><td>{{ quota }}</td></tr>
        </table>
    </tr>
</table>
</body>
</html>